.App {
  height: 100vh;
  text-align: center;
  background-color: #282c34;

  .App-header {
    min-height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
}
