.Letter {
  margin: 0 6px;

  .Letter-row {
    display: flex;

    .Letter-pixel {
      width: 20px;
      height: 20px;
      margin: -5px;

      .Letter-image {
        width: 20px;
        height: 20px;
        pointer-events: none;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Letter-image {
    animation: logo-spin infinite 5s linear;
  }
}

@keyframes logo-spin {
  100% {
    transform: rotate(360deg);
  }
}
